pytest==6.2.5
plotly==4.4.1
pymrio==0.4.5
numpy==1.17.4
dash==2.1.0
dash_bootstrap_components==1.0.2
dash_extensions==0.0.67
flask_caching==1.10.1
nptyping==1.4.4
numpyencoder==0.3.0
pandas==1.4.0
progressbar33==2.4
